{{ define "main" }}

<section class="container">
  <h2 class="block-title" id="medias"><a href="https://www.twitch.tv/recalbox" target="_blank">Recalbox Live Stream</a></h2>
  <iframe
    src="https://player.twitch.tv/?channel=recalbox&parent=recalbox.com"
    height="720"
    width="1280"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true">
  </iframe>
  <br>
  <iframe frameborder="0"
    scrolling="no"
    id="chat_embed"
    src="https://www.twitch.tv/embed/recalbox/chat?parent=recalbox.com"
    height="500"
    width="1280">
  </iframe>
</section>
{{ end }}
