@media (max-width: 480px) {
  .post--preview-link {
    max-width: 100%;
  }
  .image-container--max {
    max-width: 100%;
  }
}

.custom_pagination {
  text-align: center;
  margin-bottom: 2em;
}

.pagination li {
  display: inline;
}

.pagination li a {
  padding: 17px 16px 16px;
  font-size: 18px;
  font-weight: 600;
  color: #34495e;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  font-style: normal;
}

.pagination li a:hover {
  color: #85d6de;
}

.pagination li.disabled a {
  color: gray;
  pointer-events: none;
  cursor: default;
}

.pagination li.active a {
  color: #85d6de;
}

post-read-more {
  display: block;
}

.post .post__date--rect {
  padding-top: 5px;
}

.post img {
  max-width: 100%;
}

.header--social .lang-select.contact-info .contact-info__item {
  padding-left: 0;
}

.lang-select .dropdown-menu {
  z-index: 10000;
}

.lang-select .dropdown-menu img {
  margin-right: .6em;
}

.lang-select a {
  cursor: pointer;
}

article.post .content p {
  margin: 1em 0;
}

.contactus {
  color: #ffffff;
}

.contactus:hover {
  color: #85d6de;
}

/* Former custom.css */

.rocket-place {
  padding-top: 100px;
}

.start-block {
  padding-bottom: 300px;
}

.icon--shape.icon--animate .icon__item {
  padding-top: 30px;
}

.logo .logo__text {
  padding: 9px 0 9px 65px;
  margin-top: 26px;
  margin-bottom: 10px;
  font: 28px 'Varela Round', sans-serif;
  line-height: 16px;
  color: #ffffff;
  /* background-image: url(../images/logo.png); */
  background-size: 46px;
  background-repeat: no-repeat;
  background-position: 0 2px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  background-image: url("/images/logo.png");
}

.logo .logo__slogan {
  font: 12px 'Open Sans', sans-serif;
  color: #ffffff;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .z-nav .z-nav__link {
    font: 13px 'Open Sans', sans-serif;
  }
}

a[href="#"] {
  cursor: default;
}

.service--colored-large .service__heading {
  padding-top: 10px;
}

.error .error__main {
  width: initial;
  font-size: 160px;
  color: white;
}

.login {
  max-width: 310px;
  margin: 0 auto;
  font-style: italic;
  color: #FFFFFF;
  margin-bottom: 0;
  float: right;
  margin-top: -2px;
  font-size: 20px;
  padding-left: 5px;
}

.login a {
  color: #FFFFFF;
  text-decoration: none;
}

.login a {
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

.login a:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
}

.tooltip-link {
  display: inherit;
  margin-top: 0;
  margin-right: 0;
  font-size: inherit;
  z-index: 6000;
}

.tooltip {
  z-index: 6000;
}

.accordion-wrapper {
  min-height: 0px !important;
}

.promo--parallax {
  background-color: #34495e !important;
  background: url(/assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 70%;
}

/* Boutique */

.recal_topproductTitle {
  white-space: normal;
  font-size: 0.7em;
  max-height: 100px;
  width: 700px;
}

.cd-quick-view {
  z-index: 5001 !important;
  border: 5px solid transparent;
  transition: border 500ms ease-out;
}

.recal_topproductDesc {
  white-space: pre-wrap;
}

.category_list a {
  cursor: pointer;
}

.product .product__photo img {
  max-width: 100%;
  max-height: 200px;
}

.breadcrumb .active {
  font-weight: bold;
}

a.product__title.recal_prod_title.recal_prod_link {
  height: 2.7em;
  overflow: hidden;
}

/* Blog */

article.post .content p {
  color: rgba(0, 0, 0, 0.85);
  margin: 6px 0 0;
}

article.post .content ul {
  font-style: normal;
  color: rgba(0, 0, 0, 0.85);
}

article.post .content ul strong, article.post ul b {
  color: #34495e;
}

article.post .content .image-container {
  display: inline;
}

article.post .content .image-container img {
  max-width: 262px;
  border: 5px solid #dfe6e7;
  margin: 5px;
}

.copy.copy--sm {
  padding-top: 100px;
}

.product .product__photo {
  height: 200px;
}

/* Jumbotron */

.jumbotron {
  background-color: #34495e;
  background-image: url(/allec/images/components/promo-primary.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  text-align: center;
  color: white;
  margin: 0;
  padding: 2em;
}

.jumbotron h1 {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.jumbotron h2 {
  font-size: 22px;
  color: white;
}

.jumbotron .jumbo-separator {
  background: url(/images/separator.png) no-repeat center;
  height: 50px;
}

.jumbotron .jumbo-split {
  margin-bottom: 20px;
}

.jumbotron .jumbo-split-title {
  color: #fff;
  font-weight: bold;
  display: block;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.jumbotron .jumbo-split-subtitle {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #c2c2c2;
}

.jumbotron .jumbo-btn:hover {
  background: #466e9985;
  transition: all 0.2s;
  color: #fff;
  cursor: pointer;
}

.jumbotron .jumbo-link {
  margin-top: 30px;
  margin-bottom: 10px;
}

.jumbotron .jumbo-btn {
  text-transform: uppercase;
  margin: auto;
  border: 2px solid #5388c3;
  width: fit-content;
  color: #5388c3;
  padding: 10px;
  font-size: 18px;
  border-radius: 2px;
}

.jumbotron .jumbo-extra {
  color: #6d9857;
  margin: auto;
  width: fit-content;
  font-size: 16px;
  margin-top: 11px;
}